<!DOCTYPE html>
<html>
<head>
    <title>MAPPA DEMO</title>
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-app="myApp">
    <div class="container">
        <div class="row">
            <h1>AngularJS Demo</h1>
            <a href="http://www.w3schools.com/angular/default.asp" target="_blank">http://www.w3schools.com/angular/default.asp</a>
            <hr />
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#controllers" role="tab" data-toggle="tab">Controllers</a></li>
                <li><a href="#htmldom" role="tab" data-toggle="tab">HTML DOM</a></li>
                <li><a href="#events" role="tab" data-toggle="tab">Events</a></li>
            </ul>
        </div>

        <div class="tab-content">
            <!-- Controllers Tab -->
            <div class="tab-pane active" id="controllers">
                <div class="panel panel-body row">
                    <div>
                        <div class="row" ng-controller="personController">
                            First Name: <input type="text" ng-model="person.firstName">
                            <br> 
                            Last Name: <input type="text" ng-model="person.lastName">
                            <br>
                            <br> Full Name: {{person.firstName + " " + person.lastName}}
                        </div>
                        <hr />
                        <div class="row" ng-controller="personController">
                            <div class="form-horizontal">
                                <h4 class="text-danger">Controller Properties</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">First Name</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" ng-model="person.firstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Last Name</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" ng-model="person.lastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Full Name</label>
                                    <div class="col-sm-4">
                                        <p class="form-control">{{person.fullName()}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" ng-controller="personController">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <p class="panel-title">Controller Methods</p> 
                                </div>
                                <div class="panel-body">
                                    First Name:
                                    <input type="text" ng-model="person.firstName">
                                    <br> Last Name:
                                    <input type="text" ng-model="person.lastName">
                                </div>
                                <div class="panel-footer">
                                    Full Name: {{fullName()}}
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row" ng-controller="namesController">
                            <h3>List</h3>
                            <ul>
                                <li ng-repeat="x in names">
                                    {{ x.name + ', ' + x.country }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- HTML DOM Tab -->
            <div class="tab-pane" id="htmldom" ng-init="mySwitch=true">
                <div class="panel panel-body row">
                    <div class="row">
                        <h4>The ng-disabled Directive</h4>
                        <p>
                            <button class="btn btn-primary" ng-disabled="mySwitch">ng-disabled</button>
                        </p>
                        <p>
                            <input type="checkbox" ng-model="mySwitch">Enable Button
                        </p>
                        <p>mySwitch = {{ mySwitch }}</p>
                    </div>
                    <div class="row">
                        <h4>The ng-show Directive</h4>
                        <p ng-show="mySwitch">I am ng-show={{mySwitch}}</p>
                        <p ng-hide="mySwitch">I am ng-hide={{mySwitch}}</p>
                    </div>
                </div>
            </div>

            <!-- Events Tab -->
            <div class="tab-pane" id="events" ng-controller="eventsController">
                <div class="panel panel-body row"> 
                    <div class="row">
                        <button ng-click="count = count + 1">Add Count</button>
                        <p>{{ count }}</p>
                    </div>
                    <div class="row">
                        <button ng-click="toggle()">Toggle</button>
                        <h3 ng-show="hideIcon">
                            This is a glyphicon
                            <span class="glyphicon glyphicon-alert"></span>
                        </h3>
                    </div>
                    <div class="row">
                        <button ng-click="executeGet()">HTTP GET</button>
                        <p>Response = {{text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="dist/js/app.debug.js"></script>
</body>
</html>
